@media (prefers-color-scheme: light) {
    :root {
        /*main-variables*/
        --main-font: 'Inter-Variable', sans-serif;
        --accent-font: 'PressStart2P', fantasy;
        --main-font-weight: 400;
        --bold-font-weight: 700;
        --bg-color: #FFF;
        --accent-color: #000;
        --accent-color-transparent: rgb(0 0 0 / 60%);
        --button-text-color: #FFF;
        --contour-color: #000;
        --favicon-color: #000;

        /*gradient*/
        --page-bg-image:
            repeating-linear-gradient(to left,#d3d3d3 0 2px,#d3d3d300 2px 4px),
            repeating-linear-gradient(to bottom,#d3d3d3 0 2px,#d3d3d300 2px 4px),
            linear-gradient(to bottom,#e7e7e7 0.01%,#1a1a1a);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /*main-variables*/
        --main-font: 'Inter-Variable', sans-serif;
        --accent-font: 'PressStart2P', fantasy;
        --main-font-weight: 465;
        --bold-font-weight: 785;
        --bg-color: #000;
        --accent-color: #00CC14;
        --accent-color-transparent: rgb(0 204 20 / 60%);
        --button-text-color: #00CC14;
        --contour-color: #00CC14;
        --favicon-color: #00CC14;

        /*gradient*/
        --page-bg-image:
            repeating-linear-gradient(to left,#000000 0 2px,#00000000 2px 4px),
            repeating-linear-gradient(to bottom,#000000 0 2px,#00000000 2px 4px),
            linear-gradient(to bottom,#007f0c,#004306);
      }
    }


:root.theme-light {
    /*main-variables*/
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --main-font-weight: 400;
    --bold-font-weight: 700;
    --bg-color: #FFF;
    --accent-color: #000;
    --accent-color-transparent: rgb(0 0 0 / 60%);
    --button-text-color: #FFF;
    --contour-color: #000;
    --favicon-color: #000;

    /*gradient*/
    --page-bg-image:
        repeating-linear-gradient(to left,#d3d3d3 0 2px,#d3d3d300 2px 4px),
        repeating-linear-gradient(to bottom,#d3d3d3 0 2px,#d3d3d300 2px 4px),
        linear-gradient(to bottom,#e7e7e7 0.01%,#1a1a1a);
}

:root.theme-dark {
    /*main-variables*/
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'PressStart2P', fantasy;
    --main-font-weight: 465;
    --bold-font-weight: 785;
    --bg-color: #000;
    --accent-color: #00CC14;
    --accent-color-transparent: rgb(0 204 20 / 60%);
    --button-text-color: #00CC14;
    --contour-color: #00CC14;
    --favicon-color: #00CC14;

    /*gradient*/
    --page-bg-image:
        repeating-linear-gradient(to left,#000000 0 2px,#00000000 2px 4px),
        repeating-linear-gradient(to bottom,#000000 0 2px,#00000000 2px 4px),
        linear-gradient(to bottom,#007f0c,#004306);
    }